<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("dfb34c07-ec1d-477b-be2f-c63cef686e14");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
